{% extends 'catalog/base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Карточка продукта</h1>
        <div class="row mt-4">
                <div class="col-md-4">
                    <div class="product-card border p-3 mb-4">
                        <h2>{{ object.name }}</h2>
                        {% if object.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-fluid" />
                        {% endif %}
                        <p>{{ product.description|truncatechars:100 }}</p>
                        <p><strong>Цена:</strong> {{ object.price }} руб.</p>
                        <div class="product-details mt-3">
                            <p><strong>Описание:</strong> {{ object.description }}</p>
                            <p><strong>Категория:</strong> {{ object.category.name }}</p>
                            <p><strong>Дата создания:</strong> {{ object.created_at }}</p>
                            <p><strong>Дата последнего изменения:</strong> {{ object.updated_at }}</p>
                            <a class="btn btn-primary" href="{% url 'catalog:product_list' %}" role="button">Назад</a>
                        </div>
                    </div>
                </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
{% endblock %}